server:
  port: 5004

spring:
  application:
    name: image-service
  profiles:
    active: dev, test
  config:
    import: "optional:configserver:http://config-server:8888"
  cloud:
    config:
      fail-fast: false
      retry:
        initial-interval: 1000
        max-attempts: 6
        max-interval: 2000
        multiplier: 1.1

eureka:
  client:
    service-url:
      defaultZone: http://eureka-server:8761/eureka/
    register-with-eureka: true
    fetch-registry: true
